In [1]:
import pandas as pd
drinks=pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv')
drinks.head()

       country  beer_servings  spirit_servings  wine_servings  total_litres_of_pure_alcohol
0  Afghanistan              0                0              0                           0.0
1      Albania             89              132             54                           4.9
2      Algeria             25                0             14                           0.7
3      Andorra            245              138            312                          12.4
4       Angola            217               57             45                           5.9

In [3]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [4]:
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol'],
      dtype='object')

In [6]:
#change datatype when reading it
import pandas as pd
drinks=pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv',dtype={'beer_servings':float})
drinks.head()
drinks.dtypes
#look beer_serving is float

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [7]:
#learn astype
drinks['beer_servings']=drinks.beer_servings.astype(float)
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

<ipython-input-13-a7cf1a84c59a>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  drinks=pd.read_csv('chicken.txt',sep='%%!')

  order_id\tquantity\titem_name\tchoice_description\titem_price
0    1\t1\tChips and Fresh Tomato Salsa\tNULL\t$2.39
1                    1\t1\tIzze\t[Clementine]\t$3.39
2             1\t1\tNantucket Nectar\t[Apple]\t$3.39
3  1\t1\tChips and Tomatillo-Green Chili Salsa\tN...
4  2\t2\tChicken Bowl\t[Tomatillo-Red Chili Salsa...

In [2]:
#if you want to replace and change data type 
drinks.str.replace('$','').astype(float).mean()

NameError: name 'drinks' is not defined