In [1]:
import pandas as pd
df=pd.DataFrame({'id':[100,101,302,405],'quality':['good','very good','exccellent','good']})
df

    id     quality
0  100        good
1  101   very good
2  302  exccellent
3  405        good

In [3]:
df.sort_values('quality')

    id     quality
2  302  exccellent
0  100        good
3  405        good
1  101   very good

In [1]:
df['quality']=df.quality.astype('category',category=['good','very good','exccellent'],ordered=True)
df.quality
df.sort_values('quality')

NameError: name 'df' is not defined

In [8]:
ser = pd.Series([1, 2], dtype='int32')
ser.astype('category')

0    1
1    2
dtype: category
Categories (2, int64): [1, 2]

In [17]:
df.quality.index
df.head()

    id     quality
0  100        good
1  101   very good
2  302  exccellent
3  405        good

In [23]:
df.astype('category')

    id     quality
0  100        good
1  101   very good
2  302  exccellent
3  405        good

In [25]:
>>> ser = pd.Series([1, 2], dtype='int32')
>>> ser.astype('category')
>>> cat_dtype = pd.api.types.CategoricalDtype(
...     categories=[2, 1], ordered=True)
>>> ser.astype(cat_dtype)

0    1
1    2
dtype: category
Categories (2, int64): [2 < 1]

In [35]:
 cato_dtype = pd.CategoricalDtype(categories=['good','very good','exccellent'], ordered=True)
df.astype(cato_dtype)
df.sort_values('quality')

    id     quality
2  302  exccellent
0  100        good
3  405        good
1  101   very good