In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame({'id':[100,101,102],'color':['red','blue','green']},columns=['id','color'],index=['a','b','c'])

In [4]:
df.head()

    id  color
a  100    red
b  101   blue
c  102  green

In [6]:
pd.DataFrame([[101,'red'],[102,'blue'],[103,'green']],columns=['id','color'])

    id  color
0  101    red
1  102   blue
2  103  green

In [7]:
import numpy as np

In [9]:
ar=np.random.rand(4,2)
ar

array([[0.58886195, 0.39678483],
       [0.34895137, 0.56077689],
       [0.76765659, 0.07241778],
       [0.1527952 , 0.86049764]])

In [11]:
pd.DataFrame(ar,columns=['A','B']).set_index('A')

                 B
A
0.588862  0.396785
0.348951  0.560777
0.767657  0.072418
0.152795  0.860498

In [18]:
pd.DataFrame({'student':np.arange(100,110,1),'id':np.random.randint(60,110,10)}).set_index('student')

         id
student
100      72
101      86
102      87
103      60
104      91
105      89
106      64
107      80
108      73
109      78

In [20]:
s=pd.Series(['round','squre'],index=['a','b'],name='shape')
s

a    round
b    squre
Name: shape, dtype: object

In [21]:
pd.concat([df,s],axis=0)

       0  color     id
a    NaN    red  100.0
b    NaN   blue  101.0
c    NaN  green  102.0
a  round    NaN    NaN
b  squre    NaN    NaN