In [1]:
import pandas as pd
movies=pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv')
movies.head()

   star_rating                     title  ... duration                                        actors_list
0          9.3  The Shawshank Redemption  ...      142  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2             The Godfather  ...      175    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1    The Godfather: Part II  ...      200  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0           The Dark Knight  ...      152  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9              Pulp Fiction  ...      154  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [2]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [4]:
movies.shape

(979, 6)

In [6]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

# describe and include give another lavel

In [9]:
movies.describe(include=['object'])

          title content_rating  genre                                        actors_list
count       979            976    979                                                979
unique      975             12     16                                                969
top     Dracula              R  Drama  [u'Daniel Radcliffe', u'Emma Watson', u'Rupert...
freq          2            460    278                                                  6